OPENAI_API_KEY="youre open api key"
SECRET_KEY="youre secret key"
METABASE_API_KEY="youre metabase api key"
METABASE_BASE_URL="youre metabase base url"
DEBUG="True or False"
DB_DRIVER="either `sqlite or postgres` if sqlite leave blank other Db settings"
DATABASE_NAME="postgres db name"
DATABASE_USER= "postgres db user"
DATABASE_PASSWORD= "postgres db passwoed" 
DATABASE_HOST= "postgres db host"
DATABASE_PORT= "postgres db port"